# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release



# koniou'h


  

                   

                 

                      // rejected requests
                      if (segmentFlag == 2) ...[
                        for (var i = 0;
                            i < rejectedRequestList.length;
                            i++) ...[
                          Card(
                            child: new Container(
                              padding: new EdgeInsets.all(32.0),
                              color: Color.fromARGB(133, 171, 35, 35),
                              child: new Column(
                                children: <Widget>[
                                  new Text(
                                    '${rejectedRequestList[i]["request_status"]}',
                                    softWrap: true,
                                    style: TextStyle(
                                        color:
                                            Color.fromARGB(255, 255, 255, 255),
                                        letterSpacing: 1,
                                        wordSpacing: 1,
                                        fontSize: 18),
                                  ),
                                  new Text(
                                    '${(rejectedRequestList[i]["rejection_reason"] == "") ? "no reason" : rejectedRequestList[i]["rejection_reason"]}',
                                    softWrap: true,
                                    style: TextStyle(
                                        color:
                                            Color.fromARGB(255, 255, 255, 255),
                                        letterSpacing: 1,
                                        wordSpacing: 1,
                                        fontSize: 18),
                                  )
                                ],
                              ),
                            ),
                          ),
                        ]
                      ]
                    ],
                  ),
                ));
              }
            }
   